{% extends "base.html" %}
{% block content %}
<!-- driver_list is the variable passed in containing the list of drivers -->
<!-- Add code to display a list of drivers -->

<h2>Driver List</h2>

    <table class="table table-group-divider">
        <tr>
            <th>Driver_ID</th>
            <th>Driver Name</th>
            <th>Car Model</th>
            <th>Drive Class</th>

        </tr>
        {% for driver in driver_list %}
            
            <tr {% if driver.4 == 1 %} class="table-warning"{% endif %}>
                <!-- highliht drivers who are junior -->
                
                <td>{{driver.0}}</td>
                <td><a href="listdrivers/filter?driverid={{driver.0}}">{{driver.1}}</a></td>
                <td>{{driver.2}}</td>
                <td>{{driver.3}}</td>

            </tr>
        {% endfor %}
    </table>
{% endblock %}