{% extends "base.html" %}
{% block content %}
<!-- driver_list is the variable passed in containing the list of drivers -->
<!-- Add code to display a list of drivers -->

<h2>Driver List</h2>

 <form name="driver" id="driver" action="/listdrivers/filter" method="POST">

    <p>
        <label>Filter</label>
        <select name="driver" id="driver" onchange="this.form.submit()"> 
            <option>&lt;Select a driver&gt;</option>
            {% for driver in drop_list %}
 <!-- if statement adds:  selected="selected"  to the driver that matches driver_id(int), so that that driver is selected and shown in the pulldown -->
                <option value="{{driver[0]}}" {% if driver[0]|string == driver_id %}
                selected ="selected"
                {% endif %}>{{driver[1]}}
                </option>
            {% endfor %}
        </select>
    <input type="submit" value="Submit" />
    <input type="reset" value="Cancel" />
    </p>

</form>

<h3>Driver Information</h3>
<table class="table table-bordered">
    <tr>
        <th>Driver ID</th>
        <th>Driver Name</th>
        <th>Car Model</th>
        <th>Drive Class</th>
    </tr>
    {% if run_details %} 
    <!-- display the page,below only show once for the driver information -->
    <tr>
        <td>{{run_details[0][0]}}</td>
        <td>{{run_details[0][1]}}</td>
        <td>{{run_details[0][2]}}</td>
        <td>{{run_details[0][3]}}</td>
    </tr>
    {% endif %}
</table>
<h3>Run Details</h3>

<table class="table table-bordered">
    
    <tr> 
        <th>Course Name</th>
        <th>Run Num</th>
        <th>Seconds</th>
        <th>Cones</th>
        <th>WD</th>
        <th>Run Total</th>

    </tr>
    {% for run in run_details %}
        <tr>
            <td>{{run.4}}</td>
            <td>{{run.5}}</td>
            <td>
                {% if run.6 == None %}
                    <span>dnf</span>
                {% else %}
                    {{ run.6 }}
                {% endif %}
            </td>            <td>{{run.7}}</td>
            <td>{{run.8}}</td>
            <td>{{run.9}}</td>

        </tr>
    {% endfor %}
</table>
<p>NOTE: dnf: did not finish</p>
{% endblock %}