{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html>
    <!-- access Plotly content delivery network (CDN) charting library -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<body>
    <h1>Top 5 drivers and results</h1>
    <div id="myHBarPlot" style="width:100%; max-width:480px;"></div>

    <script>
        // Note SPACE after each fruit name so gap before horizontal bars
        const runList = {{ value_list | safe }};
        const driverList = {{name_list | safe}};
        // REPLACE constants above with passed in variables.
        // Use the '|safe' Jinja filter to mark them as safe (prevents your data being html-escaped). eg,
        // var myList = {{ list_from_py | safe }}
        driverList.reverse(); // MANDY --sort the overall resuls in ascending order
        runList.reverse();
        // Define graph data
        const data = [{ x: runList,  y: driverList,  type:"bar", orientation:"h", marker: {color:"blue"} }];

        // Define graph layout. Excluded a y-axis title as fruit names are self-explanatory.
        const layout = {  
            xaxis: {range: [0, 350], title: "Time(seconds)"}, 
            title: "Top 5 drivers",
            margin:{l:150, r:1}
        };

        // Display using Plotly
        Plotly.newPlot("myHBarPlot", data, layout);

    </script>

</body>
</html>
{% endblock %}